body{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    margin: 0;
    padding: 0;
}
.intro{
    margin: 0;
    width: 60%;
    height: 50%;
    padding-left: 100px;

} 
  h1{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
h3{
    margin: 0;
    padding: 0;
    display:flex ;
    justify-content: center;
    align-items: center;
}
.grid-position {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.grid{
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 20px;
    background-color: black;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
button{
    height: 30vh;
}
img{
     width: 150px;
     height: 100px; 
}